
:root {
    --darkest-color: #011502;
    --background-color: #3E3E3B;
    --cell-color: #EDFAFD;
    --semiselected-color: #A2AAB0;
    --selected-color: #4C586F;
    --onhover-color: #CBC5C1;
    --text-color: #A0C1B8;
    --timer-color: #FF7E5F;
}

html{
    user-select:none;
  }

body {
    text-align: center;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    margin: 0;
    margin-top: 30px;
    color: var(--text-color);

}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--timer-color);
}

hr {
    width: 500px;
}

.game {
    padding: 5px;
    flex: 1 1 auto;
    min-height: 540px;
    min-height: 540px;
    min-width: 550px;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-container {
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    height: 40px;
}

.gameboard 
{
    background-color: #5f7563;
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    max-height: 540px;

}

.number,
.cell
{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    height: 58px;
    width: 58px;
    background-color: var(--cell-color);
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    transition: 0.3s;
}

.number {
    height: 50px;
    width: 50px;
}


.buttons-container {
    justify-content: space-around;
    margin: 0 auto;
    max-width: 570px;
    margin-top: 40px;
    display: flex;
    height: 40px;
}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn {
    margin: 0px;
    line-height: 50px;
    height: 38px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 44px;
}

/* 
========================
      BUTTON ONE
========================
*/


.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 5;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}


/* 
========================
      BUTTON TWO
========================
*/
.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.btn-two span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}


/* 
========================
      BUTTON THREE
========================
*/
.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.border-right {
    border-right: 2px solid var(--darkest-color);
    width: 56px;
}

.border-left {
    border-left: 2px solid var(--darkest-color);
    width: 56px;
}

.border-top {
    border-top: 2px solid var(--darkest-color);
    height: 56px;
}

.border-bottom {
    border-bottom: 2px solid var(--darkest-color);
    height: 56px;
}

.number:hover,
.cell:hover {
    background-color: var(--onhover-color);
}

.semiselected {
    background-color: var(--semiselected-color);
}

.selected {
    background-color: var(--selected-color);
}